/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --Light-purple: rgb(173, 40, 235);
    --font-WorkSans: "WorkSans";
}
/* fonts */
@font-face {
    font-family: WorkSans;
    font-style: normal;
    font-weight: 400 600 700;
    font-display: swap;
    src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
}
/* style body */
body {
    font-family: "WorkSans";
    background-color: var(--Light-pink);
    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* style card */
.card {
    background-color: var(--White);
    width: 327px;
    border-radius: 8px;
    margin-top: 150px;
    padding: 24px 24px 0 24px;

}

/* style containers and title */
.faq[open] .btn-icon {
        content: url("./assets/images/icon-minus.svg");
    }

.title-container {
    display: flex;
    align-items: center;
    gap: 24px;
}
.star {
    width: 24px;
    
}
.title {
    font-size: 2em;
}
.question-container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.question-container:hover{
    color: var(--Light-purple);
}
.question {
    
    width: 235px;
    padding: 22px 0;
    font-weight: 600;
}
.answer {
    margin: 10px 0;
    font-size: .9em;
    line-height: 22px;
    color: var(--Grayish-purple);
}


.faq:not(:last-child) {
    border-bottom: 2px solid var(--Light-pink);
}


    .attribution { font-size: 11px; text-align: center;}
    .attribution a { color: hsl(228, 45%, 44%); }
  
/* Responsive styles */
    @media screen and (min-width: 620px) {
        body {
            background-image: url("./assets/images/background-pattern-desktop.svg");
            

        }
        .card {
           
           width: 600px;
           padding: 40px;
           
        }
        .question {
    
            width: unset;
            
        }
    }